@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* i Actually kind off liked the font without rubik, come back to this later*/
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration:none;
  color:inherit;
}
/* Header/navigation */

.nav-cont {
	display: flex;
	width: 100%;
}
.desktopnav {
  display:none;
}
.nav-cont div {
	flex: 1;
}

.nav-cont div h1 {
	margin: 10px;
  color:#009ef9;
  font-size:30px;
}

.bars {
	display: flex;
	justify-content: flex-end;
  flex:1;
   
}

.bars i {
	font-size: 30px;
	margin: 10px;
	color: #009ef9;
	cursor: pointer;
}


/* Mobile side navigation, display when hamburger is clicked*/

.sidenav {
	height: 100vh;
	width: 50%;
	background: #009ef9;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	display: none;
}

.repnav {
	height: 100vh;
	width: 50%;
	background: #009ef9;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	display: block;
}

.items {
	color: white;
	text-align: center;
}

.items ul {
	list-style-type: none;
}

.items span {
	text-align: right !important;
	display: block;
}

.items li {
	font-size: 20px;
	padding: 15px;
	cursor: pointer;
	text-align: center;
}

.items li:first-child {
	text-align: right;
	cursor: initial;
}

.items li:last-child {
	background: white;
	color: #000a2d;
}

.items li:hover {
	background: white;
	color: #000a2d;
	transition: 0.3s;
}

.fa-times {
	font-size: 30px;
	cursor: pointer;
	padding: 15px;
  display:block !important;
  color:white;
}


/* Hero Section*/

.Hero {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
}

.Hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("https://images.unsplash.com/photo-1607682181622-6577e5fb57e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.Hero-content {
	position: relative;
	font-family: "Monserrat", sans-serif;
	color: white;
	text-align: center;
	margin: 0.625rem;
}

.Hero-content h1 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
  color:#009ef9;;
 
}

.Hero-content h2 {
	font-size: 2rem;
	font-weight: 200;
	margin-top: 1rem;
}


/* About me section*/

.aboutme {
	padding-top: 100px;
	padding-bottom: 200px;
  text-align:justify;
  display:block;
}

.aboutme .aboutme-text{
	padding: 20px;
	font-size: 20px;

}

.aboutme .aboutme-text p {
	margin-top: 40px;
	line-height: 1.5;
}
.aboutme .aboutme-text h1 {
 font-size: 38px;
	line-height: 1.6;
	color: #009ef9;
	font-weight: 900;
  margin-top:50px;
	margin-bottom: 40px;
  text-align:center;
}

.aboutme-skills {
	text-align: center;
	display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:10px;
  
}

.hvr-fade {
  flex-basis:50%;
  max-width:125px;
  margin-bottom:30px;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	border-radius: 0.5rem;
  padding: 10px 20px 10px 20px;
	background: white;
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hvr-fade img {
	height: 45px;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
	background-color: #009ef9;
	color: white;
}


/* Projects section, add more unique styling here later*/

.projects {
	width:100%;
}
.projects h1 {
  font-size: 38px;
	line-height: 1.6;
	color: #009ef9;
	font-weight: 900;
  margin-top:50px;
	margin-bottom: 40px;
  text-align:center;
}
.projects a {
  text-decoration:none;
  color:inherit;
}

.parent {
  display:flex;
  flex-wrap:wrap;
}
.card {
  flex:1;
  text-align:center;
  height:auto;
  margin:30px;
  margin-bottom:50px;
  border-radius: 0.5rem;

  flex-basis:60%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
.card i {
  padding-top:30px;
  font-size:100px;
  color: #009ef9;
}

.card .content p {
  font-size:18px;
  margin:0px;
  padding:25px;
  text-align:center;
  letter-spacing: 1px;
}
.content {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
  padding-bottom:15px;
}
.card button {
   background-color: #009ef9;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 9999px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  margin-bottom:25px;
}

/* contact form/footer starts here */
.contact-container {
  padding: 30px;
	margin-bottom: 150px;
  text-align:center;
  text-decoration:none;
  color:inherit;
}
.contact-container h1 {
  font-size: 38px;
line-height: 1.6;
color: #009ef9;
font-weight: 900;
margin-top: 50px;
margin-bottom: 40px;
text-align: center;
}
.contact-container  p {
  padding:20px;
  margin-bottom:20px;

}

.contact-container button {
  background-color: #009ef9;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 9999px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}

.footer {
  width:100%;
  height:200px;
  background:#009ef9;
  color:white;
}
.footer .social-links ul {
  list-style-type:none;
  display:flex;
  justify-content:center;
}
.footer .social-links ul li {
  padding:20px;
}
.footer i {
  font-size:50px;
  cursor:pointer;
}
.footer .footer-caption {
   font-size:20px;
   margin-top:20px;
   text-align:center;
   padding:20px;
}


@media (min-width:641px)  {
  
   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .projects{
    width:80%;
    margin:0 auto;
  }
  .aboutme {
    padding:40px;
    
  }
  .contact-container  p {
  margin:20px;
  padding:40px;
}
}


@media only screen and (min-width: 961px) {

  *{font-size:20px;}
.nav-cont div h1 {
  margin-top: 13px;
}
.bars {
  display:none
}
.desktopnav {
  display:block;
  flex:1;
}
.desktopnav ul {
  list-style: none;
  display:flex;
  justify-content:space-between;
  margin:13.5px;
}
.desktopnav ul li {
  font-weight:600;
  color:#009ef9;
  cursor:pointer;
  padding-top:5px;
  padding-bottom:5px;
  
}

/* These classes are added onto the LI elements in the navbar*/
.underline{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #009ef9;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0;
}
.hero {
  height:50vh;
}

/* About me section/desktop*/
.aboutme {
  display:flex;
  padding:50px;
}
/*container on left side*/
.aboutme .aboutme-text{
  flex:1;
}

/*container on right side*/
.aboutme .aboutme-skills {
  flex:1;
  flex-wrap: wrap;
  align-items: flex-start;
  padding:40px;
}
.aboutme .hvr-fade{
  margin-top:50px;
  max-width:185px !important;
}
.projects {
  width:100%;
  margin-top:100px;
  margin-bottom:100px;
}
.parent {
  flex-wrap:nowrap;
}
.parent .card {
  flex:1;
  
}
p {
  line-height:1.6;
}
}    




